{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<br>
	<div class="content-section">
	  <div class="media">
	    <img class="rounded-circle account-img" src="{{ this_user.profile.image.url }}" alt="Profile Photo" height="200" width="200">
	    <div class="media-body">
	      <h2 class="account-heading">{{ this_user.username }}</h2>
	      <p class="text-secondary">{{ this_user.email }}</p>
	    </div>
	</div>
		<br>
	  	<div class="container">
			{% if not editable %}
				<legend class="border-bottom mb-4">Profile Info</legend>
					<ul>
						<li>Username: {{ this_user.username }}</li>
						<li>Email: {{ this_user.email }}</li>
						<li>Name: {{ this_user.profile.name }}</li>
						<li>DOB: {{ this_user.profile.dob }}</li>
						<li>Gender: {{ this_user.profile.get_gender_display }}</li>
						<li>Bio: <p>{{ this_user.profile.bio }}</p></li>
						<li>Interests: <ul>{% for interest in this_user.profile.interests.all %}<li>{{ interest }}</li>{% endfor %}</ul></li>
						{% if show %}
							<li>Mobile No: {{ this_user.profile.mobile_no }}</li>
							<li>Address: <p>{{ this_user.profile.address }}</p></li>
						{% endif %}
						<li>State: {{ this_user.profile.get_state_display }}</li>
						<li>City: {{ this_user.profile.city }}</li>
					</ul>	
			{% else %}
				<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				 <fieldset class="form-group">
					<legend class="border-bottom mb-4">Profile Info</legend>
							{{ u_form|crispy }}
							{{ p_form|crispy }}
							{{ a_form|crispy }}
				</fieldset>
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit">Update</button>
					</div>
				</form>
			{% endif %}
	  	</div>
	</div>
{% endblock content %}