{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<br>
	<div class="content-section">
	  <div class="media">
	    <img class="rounded-circle account-img" src="{{ this_user.profile.image.url }}" alt="Profile Photo" height="200" width="200">
	    <div class="media-body">
	      <h2 class="account-heading">{{ this_user.username }}</h2>
	      <p class="text-secondary">{{ this_user.email }}</p>
	    </div>
	</div>
		<br>
	  	<div class="container">
	  		<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{% if editable %}
				 <fieldset class="form-group">
				{% else %}
				 <fieldset class="form-group" disabled="disabled">
				{% endif %}
					<legend class="border-bottom mb-4">Profile Info</legend>
						{{ u_form|crispy }}
						{{ p_form|crispy }}
				</fieldset>
				{% if editable %}
					<div class="form-group">
						<button class="btn btn-outline-info" type="submit">Update</button>
					</div>
				{% endif %}
			</form>
	  	</div>
	</div>
{% endblock content %}