{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<br>
	<div>
		<form action="{% url 'home' %}" method="post">
	    	{% csrf_token %}
	    	{{ form }}
	    	<input class="btn btn-secondary btn-sm" type="submit" value="Apply">
		</form>
	</div>
	<br>
	{% for profile, matched_interests in context.items %}
		{% if matched_interests|length %}
			<h4>Profile of <a href="{% url 'profile' profile.user.username %}">{{ profile.name }}</a> ------ {{ matched_interests|length}} common interests</h4>
			<br>
			<div class="container">
				<img src="{{ user.profile.image.url }}" alt="User Image" height="160" width="160">
				<img src="{{ profile.image.url }}" alt="Matched User Image" height="160" width="160">
				<p>
					<br>

					{% if profile.user not in partners %}
						{% if req_received|get_item:profile.user %}
							<a class="btn btn-outline-primary" href="{% url 'accept_match_request' profile.user.username %}">Accept Match Request from {{ profile.user.username }}</a>
						{% else %}
							<a class="btn btn-outline-success" href="{% url 'send_match_request' profile.user.username %}">Smash</a>
						{% endif %}
						
					{% elif profile.user in partners %}
					<strong class="btn btn-success"><em>Matched</em></strong>
					{% endif %}
					<br>
					<br>
					You and {{ profile.name }} are both interested in
					<ul>
						{% for interest in matched_interests %}
							<li>{{ interest }}</li>
						{% endfor %}
					</ul>
				</p>
				</div>
			{% endif %}
	{% empty %}
		<h5>No profiles matched your interests/filters :(</h5>
	{% endfor %}
{% endblock content %}
